## ETL Chekin-Yelp

In [1]:
# Importamos las librerías a utilizar.
import pandas as pd

In [2]:
# Leemos el documento "business" en formato parquet.
business = pd.read_parquet('business.parquet')

In [3]:
# Realizamos una máscara para obtener los Id's de los resturantes con la categoría "steakhouses".
mask_id = business['categories'].str.contains('steakhouses', case=False) == True
# Guardamos la máscara en la variable "steakhouses" para plicarlo posteriormente.
steakhouses = business[mask_id][['business_id']]

In [5]:
# Leemos el documento "chekin" en formato parquet.
chekin = pd.read_parquet('checkin.parquet')

In [6]:
# Realizamos una máscara de los Id's de los resturantes con la categoría "steakhouses" para la columna business_id en chekin.
mask_chekin = chekin['business_id'].isin(steakhouses['business_id'])
# Aplicamos la máscara en chekin.
chekin = chekin[mask_chekin]

In [7]:
# Verificamos si hay valores nulos
chekin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1494 entries, 28 to 131825
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  1494 non-null   object
 1   date         1494 non-null   object
dtypes: object(2)
memory usage: 35.0+ KB

In [8]:
# Verificamos si hay duplicados y los eliminamos
duplicados_existen = chekin['business_id'].duplicated().any()

if duplicados_existen:
    print("Existen duplicados")
else:
    print("No existen duplicados")

# Eliminar duplicados de la columna 'business_id'
chekin_sin_duplicados = chekin.drop_duplicates(subset=['business_id'])

No existen duplicados

In [9]:
# Dividimos las fechas en una columna por comas.
chekin['fechas'] = chekin['date'].str.split(',')

# Duplicamos las filas para cada fecha con su respectivo ID.
chekin=chekin.explode('fechas').reset_index(drop=True)

# Eliminamos la columna original.
chekin.drop('date',axis=1,inplace=True)

# Observamos los cambios en el dataframe.
chekin.head(5)

              business_id                fechas
0  --onnLZrsCazmcy2P_7fcw   2010-09-26 23:38:02
1  --onnLZrsCazmcy2P_7fcw   2011-02-01 21:44:51
2  --onnLZrsCazmcy2P_7fcw   2011-02-27 01:18:19
3  --onnLZrsCazmcy2P_7fcw   2011-04-06 02:40:34
4  --onnLZrsCazmcy2P_7fcw   2011-04-15 02:11:59